
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Educational-responsive-web-template">
	<meta name="author" content="webThemez.com">
	<title>Covid-19 Online Education Portal</title>
	<link rel="favicon" href="static/images/favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="static/css/bootstrap-theme.css" media="screen"> 
	<link rel="stylesheet" href="static/css/style.css">
    <link rel='stylesheet' id='camera-css'  href='static/css/camera.css' type='text/css' media='all'> 
</head>
<body>
	
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					<img src="static\img\logo.jpeg" width="220" height="44" alt="Logo">
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="videos.html">Videos</a></li>
					<li><a href="courses.html">Courses</a></li>
					<li><a href="contact.html">Contact Us</a></li>

				</ul>
			</div>
			
		</div>
	</div>


	
	<header id="head">
		<div class="container">
             <div class="heading-text">							
							<h1 class="animated flipInY delay1">Start Online Education</h1>
							<p>Free Online education for elearning and online education institute.</p>
						</div>
            
					<div class="fluid_container">                       
                    <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                        <div data-thumb="static/img/img1.jpg" data-src="static/img/img1.1.jpg">
                            <h2>We develop.</h2>
                        </div> 
                        <div data-thumb="static/img/img2.jpg" data-src="static/images/slides/img2.2.jpg">
                        </div>
                        <div data-thumb="static/img/img3.jpg" data-src="static/images/slides/img3.2.jpg">
                        </div> 
                   
		</div>
	</header>



      

	
	<script src="static/js/modernizr-latest.js"></script> 
	<script type='text/javascript' src='static/js/jquery.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.fancybox.pack.js'></script>
    
    <script type='text/javascript' src='static/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='static/js/camera.min.js'></script> 
    <script src="static/js/bootstrap.min.js"></script> 
	<script src="static/js/custom.js"></script>
    <script>
		jQuery(function(){
			
			jQuery('#camera_wrap_4').camera({
                transPeriod: 500,
                time: 3000,
				height: '600',
				loader: 'false',
				pagination: true,
				thumbnails: false,
				hover: false,
                playPause: false,
                navigation: false,
				opacityOnGrid: false,
				imagePath: 'static/img/'
			});

		});
      
	</script>
    
</body>
</html>
